.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100%;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}
.navbar-title {
    display: none;
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    position: fixed;
      
}
.nav span{
    flex: 1;
    padding: 10px;
}

.nav span img{
    filter: invert();
    height: 5rem;
    cursor: pointer;
}

.nav ul{
    display: flex;
    flex: 1.5;
    align-items: center;
    justify-content: space-evenly;
}

.nav ul a{
    padding: 10px;
    border: 2px solid transparent;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s all ease-in-out;

    &:hover{
        border-bottom: 2px solid #cc5fff;
        color: #cc5fff;
    }
}
.nav ul a.active{
    border-bottom: 2px solid #cc5fff;
        color: #cc5fff;
}

.nav ul a li{
    list-style: none;

} 





@media screen and (max-width:700px) {
    .nav{
        width: 100%;
    }
    
    .navbar-title {
        display: block;
        color:#cc5fff;
        margin-left: 1rem;
        position: absolute;
        left: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .nav ul{
        flex-direction: column;
        position: fixed;
        top: 0rem;
        background: black;
        z-index: 3;
        transform: translateX(30rem);
        transition: 0.3s transform ease-in-out;
        padding: 1rem;
    }
    .nav ul a li{
        font-size: 1rem;
        margin-top: 0.8rem; 
        margin-bottom: 0.8rem;
        
    }

    .nav ul a{
        
        color: white;
    }
    .nav ul.open { 
        transform: translateX(8.1rem);
    }
    
}


